#context-style-switcher-button {
  -moz-binding: url("chrome://global/content/bindings/toolbarbutton.xml#menu-vertical");
  list-style-image: url("chrome://context-style-switcher/skin/toolbarbutton_icon_large.png");
}

toolbar[iconsize="small"] #context-style-switcher-button {
  list-style-image: url("chrome://context-style-switcher/skin/toolbarbutton_icon_small.png");
}
